.head{

text-align: center;
margin-top: 0px;
font-size:40px;
background: red;


}


.form_magazine{
margin: 50px;
border: 5px solid black;
padding: 25px;
height: 540px;
width: 820px;

}


.firstname{

    border: none;
    background: transparent;
    border-bottom: 3px solid black;
    width: 300px;
    margin-left:0px;
    height: 25px;
    padding:5px;
    text-align: center;
    font-size: 23px;
    font-family: 'Lobster', cursive;
    
   
   
   
  
}
#lblfname{
    font-weight: bold;
font-size: 17px;
font-family: 'Roboto', sans-serif;
display:inline-block;
margin-left: 3px;

}
#lbllname{

    font-weight: bold;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-left:298px;

}
#lbladd{
    font-weight: bold;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    display:block;
    margin-left: 3px;
   
}

#lblcity{
    font-weight: bold;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    display:inline-block;
   
}


#lblstate{
    font-weight: bold;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-left:313px;
   
}
#lblzip{
    font-weight: bold;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-left:230px;
   
}


.lastname{

    border: none;
    background: transparent;
    border-bottom: 3px solid black;
   margin-left: 70px;
    width: 320px;
    height: 25px;
    padding:5px;
    text-align: center;
    font-size: 23px;
    font-family: 'Lobster', cursive;
    
    
}

.address{
    
    border: none;
    background: transparent;
    border-bottom: 3px solid black;
    margin-left: 0px;
    width: 700px;
    margin-top: 30px;
    height:25px;
    padding:5px;
    text-align: center;
    font-size: 23px;
    font-family: 'Lobster', cursive;
    
}

.city{

    border: none;
    background: transparent;
    border-bottom: 3px solid black;
    margin-left: 0px;
    margin-top: 20px;
    height:25px;
    padding:5px;
    text-align: center;
    font-size: 23px;
    font-family: 'Lobster', cursive;
    
}

.state{

    border: none;
    background: transparent;
    border-bottom: 3px solid black;
    margin-left: 60px;
    height:25px;
    margin-top: 30px;
    padding:5px;
    text-align: center;
    font-size: 23px;
    font-family: 'Lobster', cursive;
    width:180px;
    
}

.zip{

    border: none;
    background: transparent;
    border-bottom: 3px solid black;
    margin-left: 80px;
    height:25px;
    margin-top: 30px;
    padding:5px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size:23px;
    width: 140px;
    
}

.info1{
font-weight: bold;
font-size: 25px;
margin-top: 30px;
display: inline-block;
font-family: 'Roboto', sans-serif;
}

.radio{

    margin-left:40px;
    width:18px;
    height:18px
}
.check{

    margin-left:20px;
    width:20px;
    height:20px;
    margin-bottom: 10px;

}

.infoelts1{
    font-family: 'Roboto', sans-serif;
font-size: 22px;
font-weight: bold;

}
.infoelts2{
    font-family: 'Roboto', sans-serif;
font-size: 22px;
font-weight: bold;
display:inline-block;
padding:5px;

}



.info2{
    font-weight: bold;
    font-size: 25px;
    margin-top: 0px;
    display:inline-block;
    font-family: 'Roboto', sans-serif;  
     margin-bottom: 8px;  }
